/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#maincontent h1 {
    letter-spacing:1px;
    font-weight:normal;
    margin-left:10px;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
li {
    display:block;
}
a {
    font-family: "Verdana";
    font-size:12px;
    color:#51473D;
}
#menu a {
    float:left;
    width:100px;
    line-height:30px;
    text-decoration:none;
    background:#797066;
    text-align:center;
    margin:0.5px;
    color:#EAE7D2;
    text-transform: capitalize;
}
#menu .active a {
    background:#EAE7D2;
    color:#9C9084;
}
#menu a:hover {
    background:#9C9084;
}
a:hover {
    background:#9C9084;
}
#maincontent p {
    font-family: "Verdana";
    font-size:12px;
    line-height:20px;
    letter-spacing:0.5px;
    margin-left:10px;
    margin-bottom:10px;
    margin-right:5px;
}
#maincontent img {
    float:left;
    margin-left:10px;
    margin-right:10px;
}
#subcontent h1 {
    font-size:17px;
    font-weight:normal;
    color:#51473D;
    margin-left:10px;
    margin-bottom:20px;
}
#subcontent h2 {
    font-family: "Verdana" sans-serif;
    margin-left:10px;
    margin-bottom:0;
    font-size:14px;
    font-weight:normal;
}
#subcontent ul {
    margin-left:10px;
}
#subcontent p {
    font-family: "Verdana";
    font-size:9px;
    line-height:20px;
    width:180px;
    margin-left:10px;
    
}
/* Övergripande laypout börjar */
#container {
    width: 580px;
    margin-left:auto;
    margin-right:auto;
    background:#EAE7D2;
    border: 1px solid #CECAB9;
}
#topbar {
    background:#51473D;
    text-align:right;
    font-style:italic;
    font-family: "Verdana";
    font-size:10px;
    color:#EAE7D2;
    padding:2px;
}
#menu {
    background:#51473D;
    float:left;
    width:580px;
}
#maincontent {
    float:left;
    width:360px;
    color:#797066;
}
#subcontent {
    float:right;
    width:200px;
    color:#797066;
    margin-top:25px;
    border-left-style:dashed;
    border-left-width:1px;
    border-left-color:#C0C0C0;
}
#bottomcontent {
    clear:both;
    height:20px;
    font-family: "Verdana";
    font-size:10px;
    font-style:italic;
    margin-left:10px;
    color:#797066;
}
.active a{
    background:#EAE7D2;
}
/* Övergripande laypout slutar */

