/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
ul {
    list-style-type:none;
}
li {
    display:block;
}
a {
    font-family: "Verdana";
    font-size:12px;
    color:#51473D;
}
#menu a {
    float:left;
    width:100px;
    line-height:30px;
    text-decoration:none;
    background:#797066;
    text-align:center;
    margin:0.5px;
    color:#EAE7D2;
    text-transform: capitalize;
}
#menu .active a {
    background:#EAE7D2;
    color:#9C9084;
}
#menu a:hover {
    background:#9C9084;
}
a:hover {
    background:#9C9084;
}
#container {
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    background:#EAE7D2;
    border: 1px solid #CECAB9;
}
#topbar {
    background:#51473D;
    text-align:right;
    font-style:italic;
    font-family: "Verdana";
    font-size:10px;
    color:#EAE7D2;
    padding:2px;
}
#menu {
    background:#51473D;
    float:left;
    width: 800px;
}
#maincontent {
    float:left;
    width:500px;
    color:#797066;
}
#subcontent {
    float:right;
    width:300px;
    color:#797066;
}
#bottomcontent {
    clear:both;
    font-family: "Verdana";
    font-size:10px;
    font-style:italic;
    padding:10px;
    color:#797066;
}
.active a{
    background:#EAE7D2;
}

